@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee-loop {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-loop {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-loop 20s linear infinite;
  width: 90%; /* Adjust this value to control the hidden time */
}
